/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2018, 11:14:07 AM
    Author     : DAT
*/
body {
	margin: 0px;
	position: relative;
}
#myVideo {
	width: 100%;
	position: fixed;
}
#bg-container {
	background-size: contain;
	background-repeat: no-repeat;
	height: 760px;
	overflow-x: hidden;
}
#login-form {
	margin-top: 200px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 5px;
	-webkit-box-shadow: 4px 4px 51px 6px rgba(66,61,61,1);
	-moz-box-shadow: 4px 4px 51px 6px rgba(66,61,61,1);
	box-shadow: 4px 4px 51px 6px rgba(66,61,61,1);
}
#login-title {
	color: white;
}
#btn-submit {
	margin-bottom: 10px;
}
.font-header {
	font-family: 'Bungee Hairline';
	color: white;
	font-weight: bold;
}
